@use "styles/abstract/index" as *;

.menu {
    position: relative;
    width: 100%;
    height: 24vh;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inventory_button {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
}
.avatar_button {
    @extend %flex-center;
    position: absolute;
    display: flex;
    z-index: 2;
    right: calc(50% - 12vh);
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.frame {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 90%;
    background-color: plum;
}

.magic_button {
    width: 50%;
    height: 100%;
    background-color: greenyellow;
}