.inventory {
    width: 20vw;
    height: 20vh;
    background-color: aquamarine;
}
.avatar {
    width: 20vw;
    height: 20vh;
    background-color: aquamarine;
}
.magic {
    width: 20vw;
    height: 20vh;
    background-color: aquamarine;
}